*{
    box-sizing: border-box;
}

body{
margin: 0;
padding-left: 5px;
padding-right: 5px;
}

#uno{
    background-color: lightblue;
    padding: 10px;
}

#dos{
    background-color: lightgreen;
    padding: 10px;
    overflow: hidden;
}

.columna-50{
width: 50%;
aspect-ratio: 2/1;
background-color: pink;
float: left;
}

.columna-50:first-child {
background-color: lightsalmon;
}

h2{
    color: white;
    background-color: purple;
    padding: 10px;
}

.clear-float{
/* El elemento no puede tener FLOAT
    - left
    -right
    -center */
    clear: both;
    background-color: brown;
}