





@font-face {
    font-family: "Circular";
    font-display: "swap";
    src: url(fonts/circular-std-medium-500.ttf);
}

@font-face {
    font-family: "Great";
    font-display: "swap";
    src: url(fonts/GreatVibes-Regular.ttf);
}

@font-face {
    font-family: "Yester";
    font-display: "swap";
    src: url(fonts/Yesteryear-Regular.ttf);
}

@font-face {
    font-family: "Stale";
    font-display: "swap";
    src: url(fonts/Stalemate-Regular.ttf);
}

/* @font-face {
    font-family: "Oswald";
    src: url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
    font-weight: 400;
} */

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}


nav{
    width: 100%;
    height: 105px;
    padding-left: 20px;
    padding-right: 20px;

    font-family: "Oswald";
    font-weight: 400;
    
    gap: 228px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 11;
    background-color: #111111;

}

.logo{
    /* width: 30%; */
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.marca>a{
    text-decoration: none;
    color: transparent;

}

.marca>a:visited{
    text-decoration: none;
    color: transparent;
}

.marca h1{
    margin: 0;
    height: 70px;
    font-family: system-ui, sans-serif;
    color: transparent;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -0.015em;
    background-image: linear-gradient(
        180deg,
        #ffe993,
        #eb831c
        );
    background-clip: text;
    -webkit-background-clip: text;

}

.marca>img{
    width: 100%;
    height: 100%;
    min-width: 144.09px;
}

.menuOrdenador{
    /* width: 70%; */
    height: 100%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 28px;
}

.CajaTransparente{
    width: 100%;
    height: 100vh;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.menuMovil{
    display: none;
    height: 100%;
    padding-top: 9px;
    margin-left: 20px;
}

.icono__menu{
    display: none;
    color: white;
    transform: scale(1.6);
}

.activo{
    display: flex;
}

.pop_up_fondo.seva{
    display: none;
}




.menu-style.si>a{
    text-decoration: none;
    color: inherit;

}

.menu-style.si>a:visited{
    text-decoration: none;
    color: inherit;
}

.menu-style{
    font-size: 18px;
    letter-spacing: 0.07em;

    display: block;
    white-space: nowrap;
    cursor: pointer;
    color: #dedede;
    text-decoration: none;
    background: none;
    position: relative;
}

.menu-style.link-activo{
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 7px #ffffff;
}

.color{
    color: black;
}

.menu-style.si.color:hover{
    color: rgb(50, 50, 50);
    text-shadow: 1px 1px 2px #000000;
}

.menu-styleII{
    font-size: 18px;
    letter-spacing: 0.07em;
    width: 100%;
    margin: auto;
    user-select: none;

    display: block;
    white-space: nowrap;
    cursor: pointer;
    color: #111111;
    text-decoration: none;
    background: none;
    position: relative;
}

.si:hover{
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 7px #ffffff;
}

.siII:hover{
    color: rgb(50, 50, 50);
    text-shadow: 1px 1px 2px #000000;
}

.aparece{
    width: 137.20px;
    display: none;
    text-align: center;
}

.content-sepira:hover>.sepira{
    display: none;
}

.content-sepira:hover>.aparece,
.content-sepira:hover>.apareceII,
.content-sepira:hover>.apareceIII{
    display: block;
}

.apareceII{
    width: 136.70px;
    display: none;
    text-align: center;
}

.apareceIII{
    width: 96px;
    display: none;
    text-align: center;
}

.menu_abierto{
    text-align: center;
    line-height: 30px;
    background-color: white;
    position: absolute;
    top: 13%;
    left: 0;
    padding: 19px;
    border-radius: 6px;
    width: 50%;
    min-width: 300px;
    right: 0;
    margin: auto;
    user-select: none;
}

.blocked{
    display: none;
}

#btnOpen{
    user-select: none;
    height: 22px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#btnClose{
    user-select: none;
    cursor: pointer;
    z-index: 100;
}




/* Empieza .cajaFondo0 */

.cajaFondo0{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    /* margin-top: 130px; */
    background-color: #1a1a1a;
}

.GraphicDesign{
    font-family: "Stale";
    color: transparent;
    font-size: 161px;
    /* font-weight: 600; */
    letter-spacing: -0.015em;
    background-image: linear-gradient( 180deg, #ffe993, #eb831c );
    background-clip: text;
    -webkit-background-clip: text;
}

.about{
    /* height: 100vh; */
    /* padding-top: 0px; */
    padding: 150px;
    padding-bottom: 0px;
    gap: 81px;
    text-align: justify;
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.columnaUno{
    width: 50%;

    position: relative;
    top: -129px;
    left: 0;

    display: flex;
    flex-direction: column;
}

.columnaUno>h2{
    color: white;
    font-family: sans-serif;
    text-align: start;
    font-size: 52px;
}

.texto{
    color: white;
    font-family: sans-serif;
    line-height: 24px;
    font-size: 21px;
    margin-top: 30px;
}

.imagen_home{
    width: 50%;
    color: white;
    font-family: sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-content: center;
}

.imagen_home>img{
    width: 100%;
    max-width: 800px;
}

.icono{
    /* width: 100%; */
    position: sticky;
    bottom: 150px;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.material-symbols-outlined.style_icon{
    font-size: 60px;
    color: white;

}







/* Empieza .cajaFondo1 */

.cajaFondo1{
    width: 100%;
    /* min-height: 200vh; */
    background-color: #1a1a1a;
}

.line{
    width: 100%;
    margin: auto;
    border-top: 1px solid white;
}

.backBlack{
    width: 100%;
    background-color: #111111;
    position: relative;
    top: 10px;
}

.especialidades{
    font-size: 36px;
    color: transparent;
    font-weight: 600;
    letter-spacing: -0.015em;
    background-image: linear-gradient( 180deg, #ffe993, #eb831c );
    background-clip: text;
    -webkit-background-clip: text;

    display: flex;
    text-align: center;
    height: 105px;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
}

.material-symbols-outlined.estilo{
    color: white;
    font-size: 33px;
}

.CajaFuera{
    width: 100%;
    /* height: 30%; */
    /* margin-top: 104px; */
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.contenidoII{
    width: 100%;
    height: 100%;
    padding: 120px;
    /* padding-top: 190px; */
    gap: 65px;
    /* box-shadow: inset -15px -15px 20px 0px rgb(0 0 0 / 56%); */
    background-color: transparent;

    position: relative;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.contenido{
    width: 100%;
    /* height: 100%; */
    padding: 120px;
    /* padding-top: 190px; */
    gap: 65px;
    box-shadow: inset -15px -15px 20px 0px rgb(0 0 0 / 56%);
    background-color: transparent;

    position: relative;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.container-card{
    width: 12%;
    padding: 1%;    
    display: flex;

    justify-content: center;
    /* Poner más tarde */
    /* padding-bottom: 0px; */
}

.card{
    /* width: 157px; */
    position: relative;
    top: 0px;
    left: 0px;
}

.card-text{
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 5px;

    text-align: center;
    background-color: #292929;
    transform: translate(42px , -12px);
    box-shadow: 0px 0px 20px 1px rgb(0 0 0 / 41%);
    BORDER-RADIUS: 19%;

    position: absolute;
    top: 0;
    left: 0;

    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition-duration: 0.6s;
    aspect-ratio: 331∶484;

    display: flex;
    justify-content: center;
    align-items: center;
}


.card-text-word, .card-text-4D{
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 5px;
    text-align: center;
    background-color: #292929;
    transform: translate(42px , -12px);
    box-shadow: 0px 0px 20px 1px rgb(0 0 0 / 41%);
    BORDER-RADIUS: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition-duration: 0.6s;
    aspect-ratio: 331∶484;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text>p,
.card-text-word>p,
.card-text-4D{
    margin: 0;
    font-family: "Circular";
    font-size: 14px;
    letter-spacing: 0.1em;
    color: #e7e7e7;

}

.estilo_carta{
    text-decoration: none;
    color: white;
    font-family: "Circular";
    height: 100%;
    display: flex;
    align-items: center;
}

.estilo_carta:visited{
    margin: 0;
    font-family: "Circular";
    font-size: 14px;
    letter-spacing: 0.1em;
    color: #e7e7e7;
}

.estilo_carta>p{
    margin: 0;
    font-family: "Circular";
    font-size: 14px;
    letter-spacing: 0.1em;
    color: #e7e7e7;
}

.imagen{
    /* padding: 15px; */
    text-align: center;
    align-items: center;
    transition-duration: 0.6s;
    line-height: 0;
}


.imagen img{
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 20px 6px rgb(0 0 0 / 41%);
    BORDER-RADIUS: 21%;
    line-height: 0;
} 

#img-visual{
    aspect-ratio: 0.99;
}

#img-word, #img-4D{
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 20px 4px rgb(0 0 0)60%;
    BORDER-RADIUS: 53%;
    line-height: 0;
}

.cajaDetras{
    display: none;
}

.card:hover>.imagen{
    transform: rotateY(180deg);
    backface-visibility: hidden;
}


.card:hover .card-text,
.card:hover .card-text-word,
.card:hover .card-text-4D{
    transform: rotateY(0deg);
}

#myVideo {
    width: 100%;
    /* max-width: 1400px; */
    /* margin: auto; */
    height: 100%;
    filter: blur(2.5px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    object-fit: cover;
}
      
.content {
    position: fixed;
    z-index: 1;
    width: 100%;
    padding-top: 100px;
    text-align: center;
  }
  
  



/* Empieza cajaFondo2*/

.cajaFondo2{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 50vh;
}

#poster{
    height: 200px;
    width: 300px;
    margin-top: 30px;
    transition: box-shadow .1s transform;

    background-image: url(img/we.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#poster:hover{
    box-shadow: 0px 0px 50px rgba(0,0,0,1);
}






/* Empieza index2 */

#navII{
    width: 100%;
    height: 105px;
    padding-left: 20px;
    padding-right: 20px;

    font-family: "Oswald";
    font-weight: 400;
    
    gap: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 11;
    background-color: #111111;

}

.fondo_caja{
    width: 100%;
    height: 100vh;
    background-color: #1a1a1a;
}

.xxx{
    width: 100%;
    height: 100vh;
}

#myVideoII {
    width: 100%;
    margin: auto;
    padding: 30px;
    height: 100%;
    /* filter: blur(2.5px); */
    border-radius: 10px;
    box-shadow: 0px 0px 13px 0px rgb(255 255 255 / 56%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    /* transition: 1s; */
}


.dialogo{
    width: 100%;
    position: absolute;
    top: 44px;
    left: 62%;
    z-index: 20000;
}

.dialogo>img{
    width: 200px;
    /* height: 300px; */
}

.cajonera{
    width: 100%;
    max-width: 1400px;
    height: 450px;
    margin: auto;
    position: relative;
    top: 150px;
    left: 0;
    transition: 0.5s;

    
    /* overflow: hidden; */
}


.cajonera:hover{
    box-shadow: 0px 0px 13px 14px rgb(153 111 23 / 56%);
    border-radius: 10px;
}

#cajonera2{
    width: 100%;
    height: 85vh;
    padding-top: 120px;
    background-color: #1a1a1a;

}

.backG_psd{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    /* padding: 350px; */
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
}

.box{
    width: 33.33%;
    padding: 15px;

}

.box>img{
    width: 100%;
    border-radius: 10px;
    filter: saturate(0);
}

.box>img:hover{
    filter: saturate(1);
}

.iconoII{
    position: absolute;
    width: 100%;
    top: 742px;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.pop_up_fondo{
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    position: fixed;
    z-index: 8;
    top: 55px;
}

.cerrar_popUp{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;

}


.pop_up{
    width: 80%;
    margin: auto;
    height: 80vh;
    z-index: 10;
    background-color: #292929;
    gap: 10px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}

.info{
    width: 50%;
    font-family: sans-serif;
    padding: 20px;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pop_up>img{
    width: 50%;
    object-fit: cover;
}

.cuadrado{
    width: 100%;
    margin: auto;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
}

#video_psd{
    width: 70%;
    height: 100%;
    border-radius: 20px;
    /* position: absolute; */
}






/* Loader */
/* @keyframes loader{
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;

    }
}

.loader-container {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader::after,
.loader::before{
    animation: loader 2s linear infinite;
    content: "";
    border: 2px solid rgb(255, 0, 0);
    width: 48px;
    height: 48px;
    position: absolute;
    border-radius: 50%; 
}

.loader::after{
    opacity: 0;
    animation-delay: 1s;
}

.hide{
    display: none;
} */

/* .menu-container{

    position: absolute;
    top: 100%;
    display: none;
    padding-top: 10px;
    left: -13px;
    z-index: 1000000;

}
.pequeMenu{
    background-color: #1d1d1d;
    color: white;
    padding: 15px;
    font-family: 'Brandon Regular';
    font-size: 15px;
    white-space: nowrap;
    line-height: 25px;

}

.si:hover>.menu-container{
    display: block;
    z-index: 100000000;
}

.menu-style:hover{
    color: rgba(29, 29, 29, 0.4);
}

.enlace{
    text-decoration: none;
    color: white;
}

.gris:hover, .enlace:hover{
    color: rgb(183, 183, 183);
} */

@media (max-width: 1942px){
    
    nav{
        gap: 100px;
    }

    #navII{
        gap: 100px;
    }

}


@media (max-width: 1814px){
    
    nav{
        height: 223px;
        gap: 18px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    /* #navII{
        height: 223px;
        gap: 18px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    } */

    #navII{
        height: 130px;
        display: flex;
        flex-direction: row;
    }
    

    .logo{
        height: auto;
    }

    .menuOrdenador{
        height: auto;
    }

    .container-card{
        padding: 1%;
    }

    /* .CajaFuera{
        margin-top: 222px;
    } */

}


@media (max-width: 1785px){
    
    .about{
        display: flex;
        flex-direction: column;
    }

    .columnaUno {
        top: 0px;
        width: 100%;
    }

}

@media (max-width: 1612px) {
    #navII{
        gap: 38px;
    }
}

@media (max-width: 1550px){
    
    .menuMovil.menuMovil2{
        display: flex;

        justify-content: flex-end;
        align-items: center;
        z-index: 1000;
    }

    .menuOrdenador.menuOrdenador2{
        display: none;
    }

    #navII{
        height: 130px;
        display: flex;
        flex-direction: row;
    }

}

@media (max-width:1448px){

    .menuMovil{
        display: flex;

        justify-content: flex-end;
        align-items: center;
        z-index: 1000;
    }

    .menuOrdenador{
        display: none;
    }

    nav{
        height: 130px;
        display: flex;
        flex-direction: row;
    }

    /* .CajaFuera{
        margin-top: 130px;
    } */
}

@media (max-width: 1415px){
    
    .container-card{
        width: 11%;
        padding: 0;
    }

}

@media (max-width: 1312px){
    
    .container-card{
        width: 11%;
    }

}


@media (max-width: 1210px){
    
    .container-card{
        width: 11%;
    }

    .contenido{
        gap: 53px;
    }

}




.gg-menu {
    transform: scale(var(--ggs,1))
}
.gg-menu,
.gg-menu::after,
.gg-menu::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 3px;
    background: currentColor
}
.gg-menu::after,
.gg-menu::before {
    content: "";
    position: absolute;
    top: -6px
}
.gg-menu::after {
    top: 6px
}