*{
    box-sizing: border-box;
}

body{
    margin: 0;
}


/* 
    Marcar la fuente con esos atributos para llamarla después
*/
@font-face {
    font-family: "Brandon Regular";
    src: url(fonts/BrandonGrotesque-Regular.ttf);

}

@font-face {
    font-family: "Brandon Bold";
    src: url(fonts/BrandonGrotesque-Bold.ttf);
    font-weight: 600;
    
}

@font-face {
    font-family: 'Brandon Grotesque Black';
    src: url(fonts/BrandonGrotesque-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: 'Brandon Grotesque Medium';
    src: url(fonts/BrandonGrotesque-Medium.ttf);
    font-weight: 500;
}


* {
box-sizing: border-box;
}

body {
    margin: 0;
    height: 145vh;
    font-family: 'Brandon Regular';
    font-weight: 400;
    font-size: 22px;
    background-color: #fff;
    letter-spacing: 3px;
    line-height: 1.7em;
}


nav{
    width: 100%;
    height: 105px;
    padding-top: 38px;
    padding-bottom: 38px;
    padding-left: 120px;
    padding-right: 160px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo{
    width: 30%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.pixar>img{
    width: 100%;
    height: 100%;
    min-width: 144.09px;
}

.menuOrdenador{
    width: 70%;
    height: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.menuMovil{
    display: none;
    width: 70%;
}

.menu-style{
    margin: 0 15px;
    font-family: 'Brandon Grotesque Medium';
    font-size: 15px;
    letter-spacing: 0.14em;
    white-space: nowrap;
    cursor: pointer;
    color: #1d1d1d;
    text-decoration: none;
    background: none;
    position: relative;
}

.menu-container{
    position: absolute;
    top: 100%;
    display: none;
    padding-top: 10px;
    left: -13px;
    z-index: 1000000;

}
.pequeMenu{
    background-color: #1d1d1d;
    color: white;
    padding: 15px;
    font-family: 'Brandon Regular';
    font-size: 15px;
    white-space: nowrap;
    line-height: 25px;

}

.si:hover>.menu-container{
    display: block;
    z-index: 100000000;
}

.menu-style:hover{
    color: rgba(29, 29, 29, 0.4);
}

.enlace{
    text-decoration: none;
    color: white;
}

.gris:hover, .enlace:hover{
    color: rgb(183, 183, 183);
}


.caja1{
    max-height: 700px;
    background-color: aqua;
    width: 100%;
}

.pixar2{
    background-image: url('Light_header.jpeg');
    width: 100%;
    height: 54.5vh;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 50;

    position: relative;
    background-attachment: fixed;
    background-position: right;
}
  
.caja{
    width: 100%;
    height: 100%;
    padding: 181px 100px;
}

#lightyear-logo{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 18%;
}

.caja2{
    width: 100%;
    /* min-height: 800px; */
    /* padding: 190px 142px; */
    padding: 10% 4%;
}

.caja2-posicion{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
}

.card-text{
    font-size: 14px;
    text-align: center;
}

.card-text>p{
    font-family: "Brandon Bold";
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 17px;

}


.imagen{
    padding: 0px 18px 0px;
}

.imagen img{
    width: 100%;
}   

.caja3 {
    width: 100%;
    min-height: 270px;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
}
  
.contacto {
    width: 100%;
    height: 40px;
}
  
.contacto-posicion {
    width: 15%;
    margin-right: auto;
    margin-left: auto;
}

.hover-box {
    width: 100%;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.hover-box:hover {
    color: #a2a2a2;
    transition: all 0.3s;
}

.hover-box .icon-position:hover {
    color: #1d1d1d;
}

.iconos {
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon-position {
    margin-left: 12px;
    cursor: pointer;
}

.politica {
    width: 60%;
    height: 100%;
    margin: auto;
    padding-top: 20px;
}

.politica-texto {
    text-align: center;
    font-size: 14px;
    display: flex;

    flex-direction: row;
    justify-content: center;
}

.politica-style {
    cursor: pointer;
    color: #1d1d1d;
    background: none;
    white-space: nowrap;
    letter-spacing: 4px;
    padding-bottom: 10px;
}

.politica-style:hover {
    color: #a2a2a2;
    transition: all 0.3s;
}

.green-box {
    height: auto;
    margin: auto;
    height: 20%;
    color: #68b631;
    border: 1px solid #68b631;
    white-space: normal;
    white-space: nowrap;
    padding: 0.8em 2em;
    font-size: 0.8em;
    line-height: 1.2;
    cursor: pointer;
    background-color: rgb(233, 233, 233);

    display: flex;
    align-items: center;
}

.green-box:hover {
    background-color: #68b631;
    transition: all 0.2s;
}

.years {
    padding-bottom: 15px;
    letter-spacing: 3px;
}

.green-text {
    font-size: 15px;
    color: #68b631;
}

.green-box:hover .green-text {
    color: white;
}

.caja4{
    width: 100%;
    height: 40px;
}

@media (max-width:640px) {
    
    .caja2-posicion{
        display: flex;

        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: nowrap;
    }

}

@media (max-width:1390px){

    .menuMovil{
        display: flex;

        justify-content: flex-end;
        align-items: center;
        z-index: 100000000000000000000;
    }

    .menuOrdenador{
        display: none;
    }

    nav{
        background-color: white;
        position: fixed;
        top: 0;
        z-index: 100000000;
    }

}

.gg-menu {
    transform: scale(var(--ggs,1))
}
.gg-menu,
.gg-menu::after,
.gg-menu::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 3px;
    background: currentColor
}
.gg-menu::after,
.gg-menu::before {
    content: "";
    position: absolute;
    top: -6px
}
.gg-menu::after {
    top: 6px
}