*{
    box-sizing: border-box;
}

body{
    margin: 0;
}


#fondo1{
    height: 50vh;
    min-height: 200px;

    background-image: url(img/seta2.png), url(img/moneda.png), url(img/mario.png), url(img/background-simple.png);
    background-repeat:no-repeat ,repeat-y ,no-repeat, no-repeat;
    background-position:center 465px, 98% -12px,-11px 324px, center;
    background-size:100px, 111px, 200px, cover;
}

.whitespace{
    height: 50vh;
}

.fondo2{
    background-image:url(img/Mario-logo.png),  url(img/monstruo.png), url(img/background-simple.png);
    height: 50vh;
    min-height: 200px;
    background-repeat:no-repeat, no-repeat, no-repeat;
    background-position:right top, left 85.5%, center;
    background-size:200px, 100px, cover;
    background-attachment:scroll, fixed, fixed ;
}

/* .mario{
    background-image: url(img/mario.png);
    min-height: 100%;
    max-height: 100%;
} */