/*

--- Selectores ---
Etiqueta 
Clase
Identificador

*/

/* Cualquier etiqueta HTML */

div{
    font-size: 30px;
}

#primero{
    background-color: gold;
    color: rgb(255, 255, 255);
    padding: 10px;

}

.hijo{
    margin: 30px;
}

.w10{
    width: 100%;
}

.columna{
    margin-top: 10px;
background-color: green;
width: 30%;
}