*{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 500vh;
    font-family: sans-serif;
}

#degradado{
    background-image: url(home-image.jpeg);
    background-size: cover;
    height: 665px;
    min-height: 600px;
}

nav{
    padding-top: 1.7%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#columnas{
    width: 100%;
    margin: 0;
    display: flex;

    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

.awesomeapp{
    font-family: "Dosis";
    width: 45%;
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin-top: -7px;
    margin-left: -60px;
    letter-spacing: 1px;
    display: flex;

    flex-direction: row;
    justify-content: flex-start;
}

.menu{
    width: 45%;
    margin-top: -7px;
    display: flex;

    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    gap: 40px;
}

.menu>.elementos{
    font-size: 12px;
    font-family: "Roboto";
    color: white;
    white-space: nowrap;
    margin-top: 10px;
    letter-spacing: 1px;
}

.resaltado{
    font-size: 12px;
    font-weight: 400;
    font-family: "Roboto";
    letter-spacing: 1px;
    color: white;
    white-space: nowrap;
    border: 2px solid white;
    border-radius: 20px 20px 20px 20px;
    padding: 12px;
}

.resaltado:hover{
    background-color: white;
    color: black;
}

.img>img{
    width: 50px;
    height: 50px;
    margin-right: 16px;
}

#caja1{
    display: flex;
    max-width: 1200px;
    margin: auto;
    margin-top: 74px;

    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.columna1{
    width: 50%;
    color: white;
    font-family: "Roboto";
}

.columna1>h1{
    font-family: "Dosis";
    font-size: 54px;
    font-weight: 500;
    line-height: 35px;

}

.columna2{
    width: 50%;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}

.resaltadox{
    line-height: 22px;
    font-weight: 300;
    margin-bottom: 25px;
    margin-top: 50px;
}

.columna2>img{
width: 450px;
height: 387px;
}

.list{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    gap: 5px;
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.custom-iconx.material-symbols-outlined{
    font-size: 20px;
}

#segundoElemento{
    margin-top: 86px;
}

.cajaBlanco{
    width: 100%;
    border-bottom: solid 1.8px #f1eae0;
    margin-top: 68px;
}

.columnas2{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    
    display: flex;

    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cajas{
    width: 33.33%;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;

    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.texto1{
    font-family: "Dosis" ;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 10px;

    
    padding-bottom: 25px;
}

.texto2{
    font-family: "Roboto";
    font-size: 15px;
    color: #6c757d;
    max-width: 100%;
}

.w10{
    width: 25%;
}

.w20{
    width: 75%;
    padding-right: 14px;
}

.custom-icon.material-symbols-outlined{
    font-size: 60px;
    color: orangered;
}

#tercerElemento{
    margin-top: 45px;
    margin-bottom: 75px;
}

.columnas3{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 0;
    margin-top: 95px;
    display: flex;

    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.izquierda{
    width: 45%;
}

.derecha{
    width: 55%;
    margin-top: -36px;
}

.apartado{
    display: flex;

    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: flex-start;
}

.t1{
    font-family: "Dosis";
    font-weight: 500;
    font-size: 30px;
}

.t2{
    font-size: 15px;
    font-family: "Roboto";
    color: #66615b;
;
    margin-top: 15px;
    line-height: 19px;
}

.t3{
    font-size: 15px;
    font-family: "Roboto";
    color: #66615b;
    margin-top: 65px;
    line-height: 19px;
}

.t4{
    font-size: 15px;
    font-family: "Roboto";
    color: #66615b;
    line-height: 25px;
    margin-top: 5px;
    gap: 5px;
    display: flex;

    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
}

.t5{
    margin-top: 30px;
}

.movil2>img{
    width: 450px;
    border-radius: 1/1;
}

.movil2{
    display: flex;

    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

}

#cuartoElemento{
    width: 100%;
    background-color: #F5FAFD;
    padding-top: 100px;
    padding-bottom: 125px;
    display: flex;

    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.teext1{
    font-family: "Dosis";
    font-size: 40px;
    font-weight: 500;
    color: #111111;
    margin-bottom: 40px;
}

.teext2{
    font-family: "Roboto";
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 50px;
    line-height: 22px;
    color: #66615b;
}

.www>img{
    border-radius: 12px;
}

#quintoElemento{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 125px;
    display: flex;

    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.preciosColumnas{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.cclumna{
    width: 20%;
    /* border: 1px solid black; */
    border-radius: 12px;
    /* box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px -1px; */
    box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;

    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.cclumna>.h1{
    font-family: "Dosis";
    width: 100%;
    text-align: center;
    background-color: #F5FAFD;
    padding: 15px;
}

.h2{
    font-family: "Dosis";
    width: 100%;
    text-align: center;
    padding: 15px;
    font-size: 38px;
}

.destacado > h2{
   
}

.h3,.h4,.h5,.h6{
    font-family: "Roboto";
    width: 100%;
    text-align: center;
    color: #6c757d;
    background-color: #F5FAFD;
    padding: 15px;

}

.h7{
    font-family: "Roboto";
    color: #a3a5a8;
    padding: 15px;
}

.h8{
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin: 14px;
    margin-top: 0;
    white-space: nowrap;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px 20px 20px 20px;
    padding: 12px;
}




@media (max-width:990px) {
    
    .cajas{
        width: 50%;
       
    }
}

/* Dispositivos entre 0 y 400px */
@media (max-width:726px) {
    
    .cajas{
        width: 100%;
       
    }
}

